<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let offer of offers">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
          <ion-card-header>
            <ion-card-title>{{ offer.title }}</ion-card-title>
            <ion-card-subtitle>{{ offer.description }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ offer.description }}</p>
            <ion-button expand="block">View Details</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
